[package]
name = "bevy-inspector-egui"
version = "0.12.1"
authors = [
    "Jakob Hellermann <jakob.hellermann@protonmail.com>",
    "Will Crichton <wcrichto@cs.stanford.edu>",
]
edition = "2021"
repository = "https://github.com/jakobhellermann/bevy-inspector-egui/"
readme = "README.md"
license = "MIT"
description = "Inspector plugin for the bevy game engine"
keywords = ["bevy", "inspector", "visual", "editor", "game"]
categories = ["development-tools::procedural-macro-helpers", "game-development", "gui", "visualization"]
exclude = ["docs/*"]

[package.metadata.docs.rs]
no-default-features = true

[features]
default = ["clipboard", "bevy_pbr", "bevy_sprite", "bevy_text", "bevy_ui"]

clipboard = ["bevy_egui/manage_clipboard"]
nightly = [] 

bevy_render = ["bevy/bevy_render"]
bevy_pbr = ["bevy/bevy_pbr"]
bevy_sprite = ["bevy/bevy_sprite"]
bevy_text = ["bevy/bevy_text"]
bevy_ui = ["bevy/bevy_ui"]

[dependencies]
bevy = { version = "0.8", default-features = false, features = ["bevy_render", "bevy_core_pipeline"] }
bevy_egui = { version = "0.15", default-features = false, features = ["open_url", "default_fonts"] }
pretty-type-name = "1.0"
image = { version = "0.23", default-features = false }
nalgebra031 = { package = "nalgebra", version = "0.31", optional = true }

bevy-inspector-egui-derive = { version = "0.12.0", path = "bevy-inspector-egui-derive" }

[dev-dependencies]
bevy = { version = "0.8", default-features = false, features = ["x11", "bevy_winit"] }
# bevy_mod_picking = { version = "0.4" }
noise = "0.7"
once_cell = "1.0"

[[example]]
name = "texture"
required-features = ["bevy/png"]

[[example]]
name = "world"

[patch.crates-io]

[workspace]
# members = [".", "bevy-inspector-egui-derive"]
members = [".", "bevy-inspector-egui-derive", "integrations/*"]

[profile.dev.package."*"]
opt-level = 2
