[package]
name = "bevy-inspector-egui-demo"
version = "0.1.0"
authors = ["Jakob Hellermann <jakob.hellermann@protonmail.com>"]
edition = "2018"
resolver = "2"

[dependencies]
bevy-inspector-egui = "0.5"

[target.'cfg(target_arch = "wasm32")'.dependencies]
bevy = { version = "0.5", default-features = false, features = ["render"] }
bevy_webgl2 = "0.5"
wasm-bindgen = { version = "0.2", default-features = false }
web-sys = { version = "0.3", default-features = false }
winit = { version = "0.24", default-features = false }
tracing = { version = "0.1", features = ["release_max_level_warn", "max_level_warn"] }
crossbeam-channel = "0.5"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
bevy = { version = "0.5", default-features = false, features = ["render", "bevy_wgpu", "x11"] }

[profile.release]
lto = "thin"
opt-level = 's'
