[package]
name = "bevy-inspector-egui"
version = "0.2.0"
authors = ["Jakob Hellermann <jakob.hellermann@protonmail.com>"]
edition = "2018"
repository = "https://github.com/jakobhellermann/bevy-inspector-egui/"
readme = "README.md"
license = "MIT"
description = "Inspector plugin for the bevy game engine"
keywords = ["bevy", "inspector", "visual", "editor", "game"]
categories = ["development-tools::procedural-macro-helpers", "game-development", "gui", "visualization"]
exclude = ["docs/*"]


[features]
nightly = []
rapier = ["bevy_rapier3d"]

[dependencies]
bevy = { version = "0.4", default-features = false }
bevy_egui = { version = "0.1", default-features = false }
bevy_rapier3d = { version = "0.7.0", optional = true }

bevy-inspector-egui-derive = { path = "bevy-inspector-egui-derive" }
# bevy-inspector-egui-derive = "0.2"

[dev-dependencies]
bevy = { version = "0.4", default-features = false, features = ["x11", "render", "bevy_wgpu", "bevy_winit"] }

[[example]]
name = "all_features"
required-features = ["nightly"]
