[package]
name = "bevy-inspector-egui"
version = "0.6.1"
authors = [
    "Jakob Hellermann <jakob.hellermann@protonmail.com>",
    "Will Crichton <wcrichto@cs.stanford.edu>",
]
edition = "2021"
repository = "https://github.com/jakobhellermann/bevy-inspector-egui/"
readme = "README.md"
license = "MIT"
description = "Inspector plugin for the bevy game engine"
keywords = ["bevy", "inspector", "visual", "editor", "game"]
categories = ["development-tools::procedural-macro-helpers", "game-development", "gui", "visualization"]
exclude = ["docs/*"]

[package.metadata.docs.rs]
no-default-features = true

[features]
default = ["clipboard"]
# rapier = ["bevy_rapier3d", "nalgebra"]
# rapier2d = ["bevy_rapier2d", "nalgebra"]
clipboard = ["bevy_egui/manage_clipboard"]
nightly = []

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main", default-features = false, features = [
    "render", # for bevy_ui TODO
    "bevy_render", "bevy_pbr", "bevy_sprite", "bevy_text"
] }
bevy_egui = { git = "https://github.com/jakobhellermann/bevy_egui", branch = "bevy-main", default-features = false, features = ["open_url"] }
emath = "0.15"
pretty-type-name = "1.0"
image = { version = "0.23", default-features = false }
# bevy_rapier3d = { version = "0.10", optional = true }
# bevy_rapier2d = { version = "0.10", optional = true }
nalgebra = { version = "0.27", features = ["convert-glam013"], optional = true }

bevy-inspector-egui-derive = { version = "0.6.1", path = "bevy-inspector-egui-derive" }
rand = "0.8"

[dev-dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", branch = "main", default-features = false, features = ["x11", "bevy_winit"] }
# bevy_mod_picking = { version = "0.4" }
noise = "0.7"
once_cell = "1.0"

[[example]]
name = "rapier"
# required-features = ["rapier"]

[[example]]
name = "rapier2d"
# required-features = ["rapier2d"]

[[example]]
name = "texture"
required-features = ["bevy/png"]

[[example]]
name = "world"

[patch.crates-io]
